.posts {
    padding: 20px 20px 80px;
    background-color: #fff;
    border-radius: 15px;
    margin: 50px;
    color: #333;
    min-height: calc(100vh - 302px);

    .header_section {
        display: flex;
        justify-content: space-between;

        .title {
            font-size: 1.4em;
            margin: 10px 0;
        }

        .button_link {
            text-decoration: none;
            background-color: #2196F3;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 5px;

            &:hover {
                background-color: #1976D2;
            }
        }
    }


    .post_card {
        margin-bottom: 25px;

        .post_image {
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 250px;
            object-fit: cover;
        }



        .post_body {
            p {
                margin: 0;
            }

            .post_border {

                border: 1px solid #dfdfdf;
                border-radius: 15px;
            }

            .badge {
                display: inline-block;

                color: #fff;
                padding: 2px 10px;
                border-radius: 7px;
                font-size: .8em;
                background-color: #EC6E33;
            }

            padding: 0 20px 15px;

        }


    }

    @media screen and (max-width: 786px) {
        margin: 20px;
    }

    @media screen and (max-width: 1000px) {


        .student_image {
            img {
                height: 230px;
            }
        }
    }
}