.image-wrapper {
    width: 100%;
    // height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #333;

    input {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    }
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
        width: 300px;
    }

    // position: relative;


}